.anvil-role-italic {
  font-style: italic;
}
/* Rôle pour les panneaux de saisie (Inputs) */
.anvil-role-input-card {
  background-color: #FFFFFF !important;
  border-left: 4px solid #3498DB !important; /* Ligne bleue "Action" */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05) !important; /* Ombre très douce */
  border-radius: 4px;
  padding: 15px;
}
.block-header-data { background: #FFF2CC; }
.block-header-flex { background: #DEEBF7; }
.cell-input        { background: #FCE4D6; }  /* orange Excel */
.cell-param        { background: #DDEBF7; }  /* bleu clair */
.cell-result-ok    { background: #C6EFCE; color: #006100; }
.cell-result-nok   { background: #FFC7CE; color: #9C0006; }
.cell-formula      { font-style: italic; color: #595959; font-size: 11px; }